<?xml version="1.0"?>
<program>
  <settings>
    <measuresource>
      <device>
        <default value="hbs" />
        <!-- <hbs buad="19200" />
		<fluke45 baud="9600" />
		<multical baud="38400" /> -->
      </device>
      <cmb>
        <cmb_0 value="#SOURCE0_ID" refresh="False" />
        <cmb_1 value="#SOURCE0_SET_OUTPUT" refresh="False" />
        <cmb_2 value="#SOURCE0_SET_V_DC" refresh="False" />
        <cmb_3 value="#SOURCE0_SET_V_AC" refresh="False" />
        <cmb_4 value="#SOURCE0_SET_FREQ" refresh="False" />
        <cmb_5 value="#MEAS0_ID" refresh="False" />
        <cmb_6 value="#MEAS0_SET_V_DC" refresh="False" />
        <cmb_7 value="#MEAS0_SET_V_AC" refresh="False" />
        <cmb_8 value="#MEAS0_SET_FREQ" refresh="False" />
        <cmb_9 value="#MEAS0_MEAS_VALUE" refresh="False" />
      </cmb>
    </measuresource>
  </settings>
  <version value="2.1" />
</program>